<div class="col">
  <div class="card">
    <div class="card-image">
      <img src="http://materializecss.com/images/sample-1.jpg">
      <span class="card-title">{{cardName.name}}</span>
    </div>
    <div class="card-content">
      <p>{{cardName.id}}</p>
    </div>
    <div class="card-action">
      <a routerLink='/{{cardName.id}}' class="waves-effect waves-light btn">button</a>
    </div>
  </div>
</div>