<div class="row">
	<div class="registration_form col s6">
		<form [formGroup]="registrationForm" (submit)="onSubmit()">
			<div class="row">
				<div class="input-field col s10">
					<input formControlName="nickname" type="text" class="validate" placeholder="Nickname" required>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input formControlName="phone" type="text" class="validate" placeholder="Phone number">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input formControlName="password" type="password" class="validate" placeholder="Password">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input formControlName="email" type="email" class="validate" placeholder="Email">
				</div>
			</div>
			<div class="row">
				<div class="col push-s6">
					<button type="submit" class="waves-effect waves-light btn">Register</button>
				</div>
			</div>
		</form>
	</div>
<div>
	{{registrationForm.value | json}}
</div>
<div>
	{{registrationForm.status | json}}
</div>
<div class="col s6 push-s1">
	<form>
		<div class="row">
			<div class="input-field col s10">
				<input id="nickname" type="text" class="validate" placeholder="Nickname">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
				<input id="password" type="password" class="validate" placeholder="Password">
			</div>
		</div>
		<div class="row">
			<div class="col push-s7">
				<a class="waves-effect waves-light button btn">Log in</a>
			</div>
		</div>
	</form>
</div>
</div>