<div class="container">
  <div class="col">
    <a class="waves-effect waves-light btn button" [routerLink]="['/']">Back</a>
  </div>
  <div class="col">
      <h2 class="header">{{cardInfo.name}}</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{cardInfo.description}}</p>
          </div>
          <div class="card-action">
            <div class="col s3">{{cardInfo.holder}}</div>
            <div class="col s3 push-s6">{{cardInfo.phone}}</div>
          </div>
        </div>
      </div>
  </div>
</div>