<div class="row">
  <h1>Add new card</h1>
  <div class="adding_form col s6">
    <form>
      <div class="row">
        <div class="input-field col s10">
          <input id="title" type="text" class="validate" placeholder="Title">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="photo" type="text" class="validate" placeholder="Photo" disabled>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" type="password" class="materialize-textarea" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="row">
        <input name = "category-picker" type="radio" id = "category1">
        <label for="category1">Category1</label> 
        <input name = "category-picker" type="radio" id="category2">
        <label for="category2">Category2</label>      
        <input name = "category-picker" type="radio" id="category3">
        <label for="category3">Category3</label>
      </div>
      <div class="row">
        <div class="col push-s8">
          <a class="waves-effect waves-light btn">Add card</a>
        </div>
      </div>
    </form>
  </div>
</div>