<div class="row">
<button type="button" class="btn col s2" (click)= "Filter('category1')" >Category 1</button>
<button type="button" class="btn col s2" (click)= "Filter('category2')">Category 2</button>
<button type="button" class="btn col s2" (click)= "Filter('category3')">Category 3</button>
<a class="waves-effect waves-light btn button col s1 push-s6" routerLink='newcard'>+</a>
</div>
<div class="row">
    <div class="col s3" *ngFor="let card of cards">
        <app-cards [cardName]="card"></app-cards>
    </div>
</div>